@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Google+Sans+Code:ital,wght@0,300..800;1,300..800&family=Inclusive+Sans:ital,wght@0,300..700;1,300..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=League+Spartan:wght@100..900&family=Manrope:wght@200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Google+Sans+Code:ital,wght@0,300..800;1,300..800&family=Inclusive+Sans:ital,wght@0,300..700;1,300..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=League+Spartan:wght@100..900&family=Manrope:wght@200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{padding: 0; margin: 0; box-sizing: border-box; font-family: 'Inter', sans-serif;}

body{
  overflow-x: hidden;
}

#title {
  font-family: 'League Spartan', sans-serif;
  font-weight: bolder;
  font-size: 1.3rem;
  cursor:pointer
}

.card-hover:hover {
  transform: scale(1.025);
  transition: transform 0.2s ease;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1)
  }

  .delete-account {
    text-decoration: none; 
    color: rgb(248, 0, 0);
  }

  .delete-account:hover {
    text-decoration: none; 
    color: rgb(201, 0, 0);
  }

  .voltar {
    color: rgb(57, 57, 255);
  }

  .voltar:hover {
    color: rgb(0, 0, 225);
    text-decoration: none;
  }

  .user-profile-container {
      display: flex;
      align-items: center;
      margin-bottom: 20px;
  }
        
  .user-img {
      position: relative;
      width: 120px;
      height: 120px;
      margin-right: 20px;
  }
        
  .user-img img {
      width: 100%;
      height: 100%;
      border-radius: 50%;
      border: 3px solid #ddd;
      box-shadow: 0 0 10px rgba(0,0,0,0.1);
  }
        
  .user-img input[type="file"] {
      display: none;
  }
        
  .user-img label {
      position: absolute;
      bottom: 5px;
      right: 5px;
      width: 35px;
      height: 35px;
      background: #212529;
      color: white;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      transition: all 0.3s ease;
  }
        
  .user-img label:hover {
      background: #384048;
      transform: scale(1.1);
  }
        
  .user-info h5 {
      margin-bottom: 5px;
      font-weight: bold;
  }
        
    .user-info p {
      margin-bottom: 0;
      color: #6c757d;
  }